{% extends 'core/base.html' %}

{% load static %}

{% block title %}Historia | metawash{% endblock %}

{% block content %}
<section class="page-section about-heading">
  <div class="container">
    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0 centered-image" src="{% static 'core/img/familia.jpg' %}" alt="">
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Pasión por los coches</span>
              <span class="section-heading-lower">Nuestra historia</span>
            </h2>
            <p>Fundado en 1987, nuestro lavadero de coches familiar nació con la misión de devolverle el brillo y la frescura a cada vehículo. Desde nuestros inicios, hemos trabajado juntos como familia para perfeccionar nuestras técnicas, ofreciendo un servicio de limpieza impecable y cuidando cada detalle para asegurarnos de que cada cliente se vaya satisfecho.</p>
            <p>A lo largo de los años, nuestra empresa familiar ha construido una sólida reputación basada en la calidad, la confianza y la pasión por los coches. Cada miembro de nuestra familia aporta su experiencia y dedicación para que tu vehículo luzca como nuevo. Con décadas de tradición, seguimos comprometidos con brindarte un servicio excepcional que refleja los valores que nos unen como familia.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}