{% extends 'core/base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}

{% block content %}
		<!-- Cabecera -->
		<section class="page-section clearfix">
			<div class="container">
				<div class="intro">
					<img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'core/img/posando.jpg' %}" alt="">
					<div class="intro-text left-0 text-center bg-faded p-5 rounded">
						<h2 class="section-heading mb-4">
							<span class="section-heading-upper">Déjanos lavarte el coche,</span>
							<span class="section-heading-lower">Te gustará</span>
						</h2>
						<p class="mb-3">Trabajamos solo con los mejores productos y técnicas. Una vez que pruebes nuestro servicio, tu coche quedará como nuevo, listo para que comiences tu día con estilo.
						</p>
						<div class="intro-button mx-auto">
							<a class="btn btn-primary btn-xl" href="{% url 'store' %}">Visítanos</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Mensaje -->
		<section class="page-section cta">
			<div class="container">
				<div class="row">
					<div class="col-xl-9 mx-auto">
						<div class="cta-inner text-center rounded">
							<h2 class="section-heading mb-4">
								<span class="section-heading-upper">Compromiso total</span>
								<span class="section-heading-lower">Garantizado</span>
							</h2>
							<p class="mb-0">En nuestro lavadero de coches, ofrecemos un compromiso total con la calidad. Nos aseguramos de que tu vehículo luzca impecable, desde el exterior reluciente hasta los detalles más pequeños. Nuestro equipo utiliza productos de alta gama y técnicas avanzadas para garantizar resultados excepcionales en cada lavado.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
{% endblock %}